<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGreenService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63672/GreenService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGreenService" contract="GreenServiceProxy.IGreenService"
                name="BasicHttpBinding_IGreenService" />
        </client>
    </system.serviceModel>
</configuration>